<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8">

<title>WallyMarty - Register New Customer</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="container" layout:fragment="content">
		<h2 style="text-align: center">Register New Customer</h2>
		<hr />

		<form action="#" th:action="@{/customers/new}" th:object="${customer}"
			method="post">
			<input type="hidden" name="customerId" th:value="${id}" />
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label>Name </label> <input type="text" class="form-control"
						placeholder="Name" th:field="*{name}" required> <label
						style="color: red" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}" th:class="'error'"></label>
				</div>
				<div class="col-md-4 mb-3">
					<label>Phone Contact Number</label> <input type="text"
						class="form-control" placeholder="Phone Contact Number"
						th:field="*{phoneContactNumber}" required> <label
						style="color: red"
						th:if="${#fields.hasErrors('phoneContactNumber')}"
						th:errors="*{phoneContactNumber}" th:class="'error'"></label>

				</div>
			</div>
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label>Customer ID Number</label> <input type="text"
						class="form-control" placeholder="Student ID Number"
						th:field="*{customerNumber}" required> <label
						style="color: red" th:if="${#fields.hasErrors('customerNumber')}"
						th:errors="*{customerNumber}" th:class="'error'"></label>
					<div class="invalid-feedback">Please choose a username.</div>
				</div>
				<div class="col-md-4 mb-3">
					<label> Date Of Birth</label> <input type="text"
						class="form-control" placeholder="yyyy-MM-dd"
						th:field="*{dateOfBirth}"> <label style="color: red"
						th:if="${#fields.hasErrors('dateOfBirth')}"
						th:errors="*{dateOfBirth}" th:class="'error'"></label>
				</div>

			</div>
			<div style="float: right;">
				<button id="btnReset" type="reset" class="btn btn-outline-info"
					style="margin-right: 2em;">Reset</button>
				<a href="/product/list" class="btn btn-outline-warning"
					style="margin-right: 2em;">Cancel</a>
				<button id="btnSubmit" type="submit" class="btn btn-outline-primary">Save
					Product</button>
			</div>
		</form>

	</div>
</body>
</html>