<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="UTF-8">

<title>WALLYMARTY</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		<h3 style="text-align: center">Welcome to the WALLYMARTY</h3>
				<hr />
				<p>
					To register and manage our <a href="#">
						customers</a> and <a href="#">prime customers</a>,please
					first read the instructions and key points provided below. And then
					click the appropriate menu item, located on the menu bar above.
				</p>
				<br />
				<p>Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. Lorem Ipsum has been the industry's standard
					dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book. It
					has survived not only five centuries, but also the leap into
					electronic typesetting, remaining essentially unchanged. It was
					popularised in the 1960s with the release of Letraset sheets
					containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of
					Lorem Ipsum.</p>
	</div>

</body>
</html>